@charset "UTF-8";
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;

}
header{
    background-image: url(/html-css/Desafios/landingpage-para-medico/landingpage-para-medico/img/sections/banner.png);
    background-repeat: no-repeat;
}
h1{
    background-color: blue;
    color: white;
    width: 300px;

}
form{
    background-color: #2e79d475;
    width: 400px;
    height: 400px;
    margin: auto;
    padding: 40px;
    color: white;
    
}
form>input{
    display: block;
    margin-bottom: 15px;
    width: 90%;
    height: 30px;
    font-size: 16px;
    border-radius: 7px;

}
form>button{
    width: 92%;
    height: 40px;
    font-size: 16px;
    background-color: #f0ca6f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}