@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

       *{
          margin: 0px;
          padding: 0px;
          
        }
        body{
            font-family: sans-serif;
            min-height: 100vw;
            
        }
    
        header{
            background-color: #0066ffd4;
            text-align: center;
            padding-bottom: 10px;
            margin-bottom: 20px;
            color: aliceblue;
            text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.532);
        }
        header>h1{
            font-size:50px;
            font-family: "Bangers", system-ui;
            font-weight: 400;
            font-style: normal;

        }
        header>p{
            font-size: 20px;
            font-style: italic;
        }
        .poema{
            padding: 5vw 30px;
            
        }
        #img{
        
            background-image: url(/html-css/Exercicios/ex004/imagens/pexels-pixabay-62623.jpg);
            background-position: center right;
            background-size: 
            cover;
            padding: 80px 20px;
            box-shadow: inset 4px 1px 3px rgba(0, 0, 0, 0.449);
            background-attachment: fixed;
        }
        footer{
            text-align: center;
            background-color: #000000;
            color: aliceblue;
            padding: 10px;
            
        }
        main{
            font-size: 30px;
            line-height: 60px;
            
        }
        #img1{
            background-color: #000000ac;
            padding: 20px;
            width: 50%;
            color: rgba(255, 255, 255, 0.935);
            text-shadow: 1px 1px 4px black;
        }




